
<div class="container" >
<h1>Upload Your file to know its size</h1>
<form class="form-group" action="\profile" method="POST" enctype="multipart/form-data">
    
    Upload your file here:
    <input class="form-control-file" type="file" name="avatar">
    <input type="submit">
    </form>
</div>